[2011-08-15 13:25] asilvas opened #1 "Status?"
You mentioned mid-2011 on your curl github page, was curious what status "cram" was in? Eager to evaluate it for a big project! Thanks much.

[2011-08-15 17:16] unscriptable commented on #1
Hello @asilvas!

cram is still a bit rough at the moment.  Well... we're using it successfully in a suite of enterprise-grade projects currently, but it's seriously lacking in documentation, unit tests, and features.  That said, progress is being made on the next version that will make it easier to add features (in other words: faster progress) and will perform much faster.

What's your timeframe?

[2011-08-15 20:35] asilvas commented on #1
Our primary evaluation is for curl.js, which will be over the next couple weeks (at most), at which time may be used (directly or indirectly) by hundreds of developers. My biggest reservation at this time is the need to combine certain modules into optimized bundles. Our organization utilizes hundreds of script files across many products -- we intend to wrap many of these to comply with the AMD pa

[2011-08-16 01:06] unscriptable commented on #1
I think as soon as you start using modules, you'll find want to break them down into smaller and smaller chunks of functionality, making the need for the build process even more important.  :)

Here are some of cram's current limitations:
1. cram does not run Google Closure Compiler or Uglify for you.  You must do that yourself (in a shell script, for example).
2. cram does not run on windows, yet

[2011-08-16 01:47] unscriptable commented on #1
I'm guessing that since you're in an ASP.net shop, that windows is a requirement. :D  Just a wild guess.

[2011-08-16 02:50] asilvas commented on #1
I appreciate the detailed info. This probably wont work for us just yet. But I might be able to swing doing the builds manually til it matures.

Thanks again!

[2011-08-16 03:01] unscriptable commented on #1
The one catch to doing manual builds is the module ids.  The `define()` calls must include the id:

define("my/module", function () { /\* blah */ });

rather than using the "preferred" anonymous definition:

// my/module
define(function () { /\* blah */ });

It sounds like your use of modules is simple enough to use the module ids all of the time, anyways.  Until/unless you start moving modules ar

[2011-08-16 03:01] #1 closed, assigned to unscriptable

[2012-03-05 09:06] tmaslen commented on #1
Hi unscriptable,

I'm in the middle of trying to concatenate all of my project's JS modules (optimization sprint before launch) into a single file using cram.  I initially tried using Require but it didn't like curl's syntax of including non JS files (js!notamodule), so am now trying to use cram but have found the same issue.

Above you stated...

"cram does not concatenate non-modules. For instan

[2012-03-05 14:39] unscriptable commented on #1
Hey Tom,

The js! plugin needs to be updated to be able to inline non-modules into the built files.  Currently, it only supports the load API, not the build API.  This can be added, but will take a few days.  We're also not quite done updating cram to work with curl.js 0.6.x.

My comment about jQuery is now out of date.  jQuery 1.7.1 calls `define` correctly and doesn't need the js! plugin.  Howev

[2012-03-05 14:48] tmaslen commented on #1
Hey John,

We're going for option 2 at the moment as we don't have a lot of time to spare.

Thanks for your reply, we really like curl.js.  Looking forward to see how you get on in the future with cram.

/t

[2012-03-15 12:37] unscriptable opened #2 "optimizer should use apiContext, apiName, defineContext, and defineName"
When compiling resources/modules, the optimizer should use apiContext, apiName, defineContext, and defineName to correctly generate the compiled code.  Since plugins just blindly write out "define(" in their `write` methods, the build tool has to compensate for this by scanning and correcting the build output.

Calls to `curl(` should also be converted (but not calls to `require(`!).

[2012-03-15 12:39] unscriptable commented on #2
This issue is related to https://github.com/cujojs/curl/issues/70 since we will eventually use cram.js to build the dist versions of curl.js.  cc @papirosko

[2012-04-21 12:21] dizzib opened #3 "Unclear how to use wire/cram/builder.js"
What's New on wire.js states...

0.6.0
Experimental optimizer/build tool support for cram. Point cram at your wire spec and let it optimize your entire app! Docs coming soon

This sounds awesome but I can't find any docs/examples and it's not obvious, so any hints much appreciated!

Ta,
Andy.

[2012-04-21 13:57] briancavalier commented on #3
Hey @dizzib,

What versions of wire and curl are you using currently?

This feature is probably in an unstable state with the latest versions of wire and curl (hence the "Experimental").  We're currently refactoring cram and wire's builder plugin, so there will be updated build support soon, along with documentation.  Once wire v0.8.0 final is released, we'll be targeting a follow-on release for t

[2012-04-21 15:10] dizzib commented on #3
Hi Brian, sounds good!

fwiw I'm on wire 0.7.5, curl 0.6.2 and cram 0.6.

And I'd be happy to help test your experimental code on my app anytime, just let me know. Cheers!

[2012-04-22 01:38] briancavalier commented on #3
Cool, thanks for the offer! Hopefully we can take you up on it :)

[2012-04-23 21:26] unscriptable commented on #3
I'm getting back on cram.js 0.6 as soon as I can get curl.js 0.6.3 released (which should be this week).

[2012-08-28 13:29] unscriptable commented on #3
@dizzib: cram.js is third on the priority list right now (and the other two items are mostly done).  Should start working on it later this week.  -- John

[2012-08-28 15:04] dizzib commented on #3
Great, thanks! :-)

[2012-11-05 00:48] unscriptable opened #4 "rewrite to use curl.js internally"
This issue is to track the total rewrite of cram.js using curl.js internally.

We've already got curl.js working in node.js and ringojs, we just need to finish the logic around configuration, dependency analysis, and concatenation.

[2012-12-11 22:19] joefiorini opened #5 "Using wire with cram"
Here's where I am right now with this issue:

I change `cram/lib/compile.js:133` to:

[code]

which got me one step further, but now I'm getting the error:

[code]

I'm guessing that it's not handing an absolute path to `require`, but making it absolute (prepending `config.baseUrl`) gives the same error with the full path.

Does the change I made to `compile.js` make sense? Is this new error vali

[2012-12-12 00:23] unscriptable commented on #5
I've reproduced this with a very simple config. Looking into it further.

[2012-12-12 00:25] unscriptable commented on #5
heh. This might be caused by wire being both an AMD plugin and a main module.  Rare, but useful case.

[2012-12-12 03:43] unscriptable commented on #5
Actually, it was an API change that hadn't been applied to wire, yet.  I also found some other issues in both wire and cram.  Pull the latest from cram/dev and wire/cram-build. :)

[2012-12-12 04:12] joefiorini commented on #5
Cool, thanks @unscriptable! Got it working with just `define({});` in my `main.js`. Once I add back `define(["plugins-init"], {})` I get an error:

[code]

Gist is at https://gist.github.com/0aebca8c63c7774e702a.

[2012-12-12 04:38] joefiorini commented on #5
I got past that by installing `jsdom` via npm. Unfortunately, it's not an AMD module, so I'm not sure how to properly load it. I set define.amd.jQuery to true, and then required 'jsdom' at the top of of jquery/index.js, like so:

[code]

and here's the error I'm getting:

[code]

Do you think this is because `jsdom` isn't an AMD module?

[2012-12-12 04:39] unscriptable commented on #5
Ah, ok. I see the problem with `define(["plugins-init"], {})`.  The wire cram plugin currently assumes plain specs without AMD dependencies.  Since it actually loads each spec as an AMD module to inspect it, curl will automatically fetch any dependencies.  If those dependencies can't run in the environment (node in your case), the load fails.  jQuery doesn't like to be loaded in node without signi

[2012-12-12 04:45] joefiorini commented on #5
Did that, but doesn't that in essence hide 'plugins-init' from the file built by cram? I'm trying to package all of my files together for production so that it doesn't have to do any extra downloading. I've used jQuery in node before using `jsdom` to create a window. Does this make sense?

[2012-12-12 04:47] unscriptable commented on #5
Nope. The wire cram plugin finds modules in the specs, hoists them to the define, and lets' cram do the rest. :)

Don't use jsdom. It's not needed. :)

[2012-12-21 18:56] jbadeau commented on #4
What version of node are you using?

[2013-01-02 21:46] unscriptable commented on #4
v0.8.10

[2013-01-07 22:46] joefiorini opened #7 "Error in compiled javascript"
I'm getting a browser error in Cram's compiled javascript.

[code]

I cannot get a stack trace for this (everything is compiled anyway), but the error is around L764 of my compile js file:

[code]

Any thoughts?

[2013-01-08 03:37] unscriptable commented on #7
Hey Joe,

I think I know what's causing this and have a solution in my local repo.  However, I was not able to push anything stable this evening since I ran out of time.  I'll be on a plane all day tomorrow (Tuesday), so I won't be able to push anything until evening.

I also figured out the problem with overriding packages.  It looks like I'll be able to push a fix for that tomorrow evening, as w

[2013-01-08 03:40] unscriptable commented on #7
If you want to temporarily "fix" the overriding packages problem, try replacing the following line in cram/lib/config/merge.js's mergeArrays function.  Change this:

`combined = (base || []).concat(ext || []).sort(sort);`

to this:

`combined = (ext || []).concat(base || []).sort(sort);`

This is not even close to a final solution, but will hopefully fix your immediate roadblock.

[2013-01-08 03:44] joefiorini commented on #7
Thanks! I'm at a conference this week, so I probably won't be getting back to it until Monday. I'll try to implement that fix when I have a chance.

[2013-01-14 04:24] AnAppAMonth commented on #3
I'd also like to see an example on this. These are great tools, but seriously lacking in documentation.

[2013-01-19 07:25] TimNZ commented on #7
John, can you please commit your updates.

[2013-02-07 16:45] zourtney opened #8 "Multiline dependency array parsing issue"
I'm observing cram erroring out on multiline dependency arrays like:

[code]

Cram produces an error such as:

[code]

The whitespace in the error message makes it look like it's looking for linebreaks in the filename..?

---

Consider the following (contrived) example, for a more complete look:

**index.html**

[code]

**main.js**

[code]

**secondary.js**

[code]

Replace the dependency paramete

[2013-02-07 17:57] unscriptable commented on #8
Thanks @zourtney!  Fixing that now!

[2013-02-07 20:16] #8 closed, assigned to nobody

[2013-02-07 20:25] unscriptable commented on #4
This has been pushed to master

[2013-02-07 20:25] #4 closed, assigned to unscriptable

[2013-02-07 20:26] unscriptable commented on #7
fixed by recent commits

[2013-02-07 20:26] #7 closed, assigned to nobody

[2013-02-07 20:28] #5 closed, assigned to unscriptable

[2013-02-07 20:36] zourtney commented on #8
Great! Thanks for the quick fix!

[2013-02-07 23:36] zourtney opened #9 "CSS filename gets prepended to url() string"
Got another one for you :-) When pulling in styles via the `css!` plugin, I'm seeing the file/module name prepended to CSS `url(...)` contents.

For example:

**index.html**

[code]

**style.css**

[code]

crammed, the URL becomes `url(\"style.cssniceBackground.jpg\")`. Full module output:

[code]

Whereas I'd expect it to still be `url(niceBackground.jpg)` (...right?). I get the same result with

[2013-02-08 15:24] unscriptable commented on #9
Thanks @zourtney!

We wouldn't have caught this since we only bundle our "structure" css rules, leaving the "skin" rules in a theme file external to the main app code. (oocss)

There has to be some level of translation unless the bundled file will stay at the baseUrl.  Hm, maybe this isn't a bad restriction to have in place until we figure out a universal strategy for this.  Seems like we'd have t

[2013-02-11 21:24] zourtney commented on #9
This might be trickier than I first imagined. My assumption was that cram did an ignorant dump of the CSS contents. Clearly it's smarter than that :-) I was thinking the `url()` contents would remain unchanged -- thus resources would be relative to the cram'ed bundle. With the example above, the end-user would construct something like:

[code]

Of course, that's an overly simple example. I'm refer

[2013-02-12 06:39] unscriptable commented on #9
Hey @zourtney,

I updated curl's cram/css plugin on the dev branch.  Here's how it works:
1. At build time, relative ids in the stylesheet are translated to urls that are relative to baseUrl.  This is done in two parts:
   1. The url in the css is treated as an id that is relative to the css file and normalized to the css file's id.  For instance, `url(assets/foo.png)` in a css file whose id is "m

[2013-02-12 06:40] unscriptable commented on #9
I also updated the curl/plugin/style.js file.  Just FYI in case you're copying files instead of pulling the whole repo.

[2013-02-12 22:42] zourtney commented on #9
Well, the option to exclude files would be more beneficial in the short term. I'll want to deploy this project with a stitched, master "style.css" anyway. And then cram all Javascript into its own file(s).

---

That said, I did try out the edge version. I'm getting a leading `/` instead of the `baseUrl` pathname. Thus all URLs become relative to the server root!

I'm still trying to get my head a

[2013-02-25 15:21] unscriptable opened #10 "cram.js is too greedy when finding factory function in define()"
See this thread: https://groups.google.com/d/topic/cujojs/8tIpzsD47h8/discussion

[2013-02-25 16:23] unscriptable opened #11 "cram.js hangs when using 'dojo/io/script'"
See this discussion: https://groups.google.com/d/topic/cujojs/lBhlz-dey9k/discussion

[2013-02-27 18:24] unscriptable commented on #10
This should be fixed in dev branch.

[2013-02-27 18:46] unscriptable commented on #9
This should be fixed in dev.

[2013-02-27 18:46] #9 closed, assigned to nobody

[2013-02-27 18:46] #10 closed, assigned to unscriptable

[2013-02-27 19:24] unscriptable opened #12 "cram mangles output when cram auto-groks that is should inject a loader"
@webpro noticed that cram mangles the output under some circumstances.  It looks like the loader is injected into the output bundle twice and one is injected into the middle of the other.  I suspect this happens when cram auto-groks that it should bundle the loader and the user explicitly uses the --loader CLI option.

https://groups.google.com/d/topic/cujojs/LCWoIcQzK_Y/discussion

[2013-02-27 19:26] unscriptable opened #13 "in the help it says the --output option is for output folder (not file)"
in the help it says the --output option is for output folder (not file)

also: in the "launch" docs of cram it says "define(function (['curl'], function (curl) {" in examples (should probably just

Thanks @webpro

[2013-02-27 20:49] #13 closed, assigned to nobody

[2013-03-19 03:36] #12 closed, assigned to nobody

[2013-03-19 03:37] unscriptable opened #14 "add defineName and defineContext config options"
see: https://github.com/cujojs/curl/issues/176

[2013-03-28 09:09] ghost opened #15 "has no method 'config'"
When I use cram and curl, I get this error:
cram failed:  grokking "./src/scripts/run.js": TypeError: Object function _curl() {
                    var args, config, includes, warnings;

[code]

[2013-03-28 16:00] unscriptable commented on #15
Hey @acroidea, sorry about that.  Please use curl.js's dev branch when working with cram.js.

Thanks for the reminder. I need to release a new curl.js asap!

-- John

[2013-04-23 02:24] unscriptable opened #17 "Create docs for creating build-time plugins"
There are no docs for creating cram plugins.  Need docs nao!

[2013-04-23 10:52] briancavalier commented on #17
Yay docs!

[2013-05-10 18:57] unscriptable opened #18 "Don't require() plugins within cram unless they're needed at build time"
cram should only load plugins if they don't contain a "cramPlugin" string property but they do contain a "compile" function property.  This allows a plugin to do browser-ish things at run time without jumping through hoops since it might be loaded at build time.

[2013-05-23 22:52] unscriptable opened #19 "Create a programmatic API"
So that cram can be used in a rails asset pipeline or from a Java build (without using a shell), cram needs a programmatic API.  I am thinking that it's very likely that all of the options of the CLI API will be needed by a programmatic API, so I think it's worth some time to expose the CLI API in Javascript.

Any other thoughts, @jeremyg484 ?

[2013-05-29 20:44] gihrig commented on #19
I have a Java project that needs asset optimization at build time, and I'm considering Cram. I'm also considering migrating parts of the project to Node. Given this mix of technologies and the inevitable change over time, a programatic API sounds useful.

[2013-06-04 21:51] unscriptable commented on #19
Noted, @gihrig! :)

[2013-06-12 11:17] unscriptable opened #20 "cram fails with "undefined has no method substr" when no baseUrl is found in config"
cram fails with "undefined has no method substr" when no baseUrl is found in config

[2013-07-02 07:24] neoroma opened #21 "Cram on windows"
Failed to run cram script on windows with
Error: Protocol:c: not supported.

any help?

[2013-07-02 07:27] neoroma commented on #21
http.js:1787
    throw new Error('Protocol:' + options.protocol + ' not supported.');
          ^
Error: Protocol:c: not supported.
    at Object.exports.request (http.js:1787:11)
    at Object.exports.get (http.js:1794:21)
    at loadScriptViaNodeHttp (C:\dev\sandbox\cujojs\node_modules\cram\amd_modules\curl\dist\curl-for-ssjs\curl.js:1518:8)
    at Object.priv.core.loadScript (C:\dev\sandbox\cuj

[2013-07-02 23:18] unscriptable opened #22 "No way to override loader if it is grokked"
It looks like the loader is concatenated into the output too early inside processGrokResults().  This seems like it would prevent the dev from overriding it with a command line option or in a build.json file.  I haven't verified this.

[2013-08-12 13:40] unscriptable opened #24 "cram gets confused with lodash.js"
cram's parser needs to be more robust.  It get's confused by several of the crazy things lodash does internally.

[2013-08-12 13:52] unscriptable opened #25 "cram should not output the moduleLoader's prefix to the bundle"
In short: cram should output `define("backbone/backbone", ...` not `define("curl/loader/cjsm11!backbone/backbone"...` as a plugin would.  curl/cram module loaders are plugins that are used implicitly, but need to output normal-looking modules.

Plugins always prefix their compiled resources with the plugin id.  This is so that a dev can request the same resource at run-time (from outside the bundl

[2013-08-12 14:36] gehan commented on #24
It's just this bit that it misses out, the define here right at the bottom of the file.

In other libraries cram seems to pick defines like this up..@

[code]

[2013-08-14 09:08] gehan commented on #25
This should fix it! https://github.com/cujojs/cram/pull/26

[2013-08-15 20:22] unscriptable commented on #25
Closed by #26.  Thanks Gehan!

[2013-08-15 20:22] #25 closed, assigned to nobody

[2013-08-20 14:15] johanchouquet opened #28 "Issue getting started with cram. "Protocol not supported""
Hi,

I have some trouble getting started with cram.js.

I installed last version of node.js, then bower, and finally cram.js. Then, I went in my app path, and I tried :
cram index.html

Here is the output :

![output cram js](https://f.cloud.github.com/assets/1401825/993824/38ad0070-09a2-11e3-962e-7ee11288eb3b.png)

As you can see, I have the lastest versions of each tools.

I did not create a "bu

[2013-08-22 19:54] unscriptable commented on #24
Hey @gehan, feel free to try the latest cram dev when you get a chance.  In my tests, lodash is working as of https://github.com/cujojs/cram/commit/7fa5d461cb9f2c87e5b6b59b9152d00688a724a2.

[2013-08-22 21:35] gehan commented on #24
Will check it out now!

[2013-08-22 21:51] gehan commented on #24
Yep works great with lodash now! Although it doesn't work with the minified source :(

While you have said this is a recipe for disaster, and so maybe not the worse thing, the minified source still has this code in it:

[code]

Therefore perhaps it should still be able to catch it?

i.e. its still a define call, albeit in minified code.

[2013-08-22 22:15] unscriptable commented on #24
Code that is minified twice usually loses information in my experience.  However, cram should be able to parse a minified file.  I'll check out the minified lodash to see what's going on.  Whatever I find will only make cram more robust.

[2013-08-22 22:24] gehan commented on #24
Yes exactly. I have no idea if r.js can parse the lodash minified source, however if there is a clear define() call then I'm guessing it should be able to.

I think cram would also benefit from having more verbose output, it might be good for debugging problems. I know r.js prints out the dependency tree as it walks it, which is quite handy. No essential though obviously!

Also been talking with t

[2013-08-22 22:24] unscriptable commented on #24
I just tried lodash/dist/lodash.min.js and it built the bundle, and it ran fine. :/  Which lodash are you using?

[2013-08-22 22:26] gehan commented on #24
oh really? i was using lodash.compat.min.s

[2013-08-22 22:26] gehan commented on #24
lodash.compat.min.js

[2013-08-22 22:30] unscriptable commented on #24
Ok. lodash.compat.min.js worked for me, too. :/  What's happening, exactly?

[2013-08-22 22:36] gehan commented on #24
Oh weird, it's just ignoring the `define()` call at the end and not setting the module name. It works with the non minified source. I'll try again..

[2013-08-22 22:45] unscriptable commented on #24
argh. nm. you are right. it's not inserting the module id.

[2013-08-22 22:46] gehan commented on #24
Yep it's just leaving the last line intact:

Z[U]=b,Z[G]=Z[H]=Z[J]=Z[K]=Z[V]=Z[Q]=Z[X]=Z[Y]=y;var nt={"boolean":b,"function":y,object:y,number:b,string:b,undefined:b},tt={"\":"\","'":"'","\n":"n","\r":"r","\t":"t","\u2028":"u2028","\u2029":"u2029"},rt=nt[typeof exports]&&exports,et=nt[typeo      f module]&&module&&module.exports==rt&&module,ut=nt[typeof global]&&global;!ut||ut.global!==ut&&ut.wind

[2013-08-22 22:47] gehan commented on #24
Regex fun!!!

[2013-08-22 22:47] unscriptable commented on #24
The scan/compile step works.  It's the link step that's failing.

[2013-08-22 22:52] unscriptable commented on #24
Sorry. The whole process works for lodash.min.js, but the compile/scan step fails for lodahs.compat.min.js.

[2013-08-22 22:56] gehan commented on #24
Yeah I had a look a the .meta output and the modules list is empty for lodash.compat.min, which is weird as lodash.min isn't much different

[2013-08-23 01:29] unscriptable commented on #28
Looks like a bug in our local/remote url detection code.  Working on a fix....

[2013-08-23 03:08] unscriptable commented on #28
Found the bug in curl.js.  Need to publish an updated version of it and then publish an updated cram.js.

[2013-08-23 08:42] gehan commented on #24
Had a quick try and seems to work with lodash.compat.min! I see you've bumped the version so assume there is a release imminent..!

[2013-08-23 09:11] johanchouquet commented on #28
Thanks John. Can't wait to use the new cram.js ! BTW, these tools are amazing...!

[2013-08-23 13:29] unscriptable commented on #24
Yah, seems like we should release asap.

[2013-08-23 13:29] #24 closed, assigned to nobody

[2013-08-23 14:13] unscriptable commented on #28
Thanks @dargoan!  Hopefully, this was the only platform-specific issue.  It seems that all of the cujoJS committers and almost all of the contributors are on linux or os x, atm.  I was finally able to get git, node, npm, and bower set up on my windows vm and was able to run some examples.  Will publish an update to npm soon.

[2013-08-23 15:15] johanchouquet commented on #28
Great ! Sorry for being yet on Windows! But my company decided that for me... It's a mess, but yes, it should also work on Windows... Hopefully, I was able to bring a new test case :)

[2013-08-23 20:01] unscriptable commented on #28
Just published the latest cram (0.7.5) to npm.  Closing this issue, but if you encounter the same issue, please reopen it.  :) -- John

[2013-08-23 20:01] #28 closed, assigned to nobody

[2013-08-23 20:01] unscriptable commented on #21
Fixed by latest version (0.7.5). yay :)

[2013-08-23 20:01] #21 closed, assigned to nobody

[2013-08-23 20:02] #3 closed, assigned to nobody

[2013-08-23 20:02] #15 closed, assigned to unscriptable

[2013-08-23 20:02] #20 closed, assigned to nobody

[2013-08-23 20:03] unscriptable commented on #24
Released!  Version is 0.7.5 because of a git tag snafu. :/

[2013-08-23 21:13] gehan commented on #24
Wooo!

[2013-08-23 22:25] johanchouquet commented on #28
Awesome! I'll try that very soon! Thanks John

[2013-08-28 00:35] unscriptable opened #29 "Don't detect goog.require('id') as a sync require"
The compile/scan module is too liberal when it finds require('id') calls.

[2013-08-28 02:13] unscriptable commented on #29
Fixed in dev.

[2013-08-28 02:13] #29 closed, assigned to nobody

[2013-08-28 18:24] unscriptable commented on #14
Dup of #2

[2013-08-28 18:24] #14 closed, assigned to unscriptable

[2013-08-28 18:25] unscriptable commented on #11
This should be fixed as of 0.7.5

[2013-08-28 18:25] #11 closed, assigned to unscriptable

[2013-08-28 22:23] snichme commented on #19
:+1:

[2013-08-29 09:26] johanchouquet commented on #28
The Protocol problem is solved, but what's happening is the following. I'm doing a POC, on curl.js / AMD modules / inheritance in JS. When I launch the index.hml file in Chrome, that's OK, curl is loading those AMD modules, and I can see good things in the console (what I expect let's say). But when I try : "cram index.html" in the command line, it won't succeed compiling files.

![compile-pb](htt

[2013-08-29 13:37] unscriptable commented on #28
I'm looking into the apparent parsing error.

Just a side-note: using the file:/// protocol fails to load AMD modules in most browsers.  Chrome is the exception.  You should use a local static web server, like [serv.js](https://github.com/scothis/serv), to support other browsers.

[2013-08-29 14:06] unscriptable commented on #28
Did cram create a .cram folder in the same folder as index.html?  I don't see it in your editor.  If not, then node may be failing while trying to create it.

It looks like an exception is being thrown somewhere in the compile process, but it's somehow not getting propagated correctly.  Still digging into it.

[2013-08-29 14:40] unscriptable commented on #28
I just found the spot where the exception is being squashed.  It was in the cram/lib/io/text/fsModule.js file. I pushed the fixed code to dev: https://github.com/cujojs/cram/blob/dev/lib/io/text/fsModule.js

Can you try this version so we can see what the exception is?  Thanks!

[2013-08-29 14:57] johanchouquet commented on #28
Ok, yes, I've read that file:/// was not working right with AMD loaders, but I forgot.

I'll try that very soon. But just to answer you : there is no .cram folder in the same folder as index.html.

Thanks a lot for your help!

[2013-08-29 15:29] johanchouquet commented on #28
OK, I've copied the text in the right file in the npm folder for cram, and I tested : cram index.html in my project folder.

Here is the result :

C:\Users\S087837\factory\1-laboratory\projects\curl>cram index.html
Parsing index.html for curl configuration
Found potential curl config
warning: grokking "index.html": Did not inspect code inside `curl()` callback(s)
.
`baseUrl` resolved to curl/user

[2013-08-29 15:50] unscriptable commented on #28
Ah ha!  Thanks.  There appears to be a bug in node.  If a folder name starts with a dot (say ".cram"), node's path module gets very confused in windows.  Thinking of a fix....

[2013-08-29 18:51] unscriptable commented on #28
Ok. Found the problem. It's not node. *embarrassed*  It's this line: `filepath.split(path.sep);`.  That doesn't work when there are both unix-style and windows-style path separators in the filepath.  I made sure that the path separators are fixed before trying to create the directory.  I guess I never saw this problem on windows because I was trying it in a project where the directories already ex

[2013-08-29 18:53] unscriptable commented on #28
the only file updated is https://github.com/cujojs/cram/blob/dev/lib/io/text/fsModule.js

[2013-08-30 12:13] johanchouquet commented on #28
Thanks @unscriptable, it's working ! Now, I have my bundle.js using cram. This is great ! Next step : I'll be minifying it using other tools.

[2013-08-30 12:15] unscriptable commented on #28
+1

[2013-09-03 16:40] unscriptable opened #30 "`--root path/to/app` option is only applied to curl (amd), not node (text, json)"
Users can't use this feature to grok html files or specify build override files.

[2013-09-09 16:45] gehan opened #31 "i18n plugin problem"
In my bundle i have locales: ['en', 'en-us']

When the browser is detected as en-gb it shows the default strings rather than trying to show the 'en' strings.

Without a bundle it works fine, ie looks for en-gn, then falls back to en. Inside a bundle it just doesn't look for 'en' it seems..!

[2013-10-11 21:48] phated opened #32 "Postinstall of Bower dependencies breaks with sudo"
When running `sudo npm install cram`, the command errors with:

[code]

I think the Bower install should happen on prepublish, as per https://npmjs.org/doc/misc/npm-scripts.html#NOTE-INSTALL-SCRIPTS-ARE-AN-ANTIPATTERN

[2013-10-14 20:36] unscriptable commented on #32
Thanks @phated.  Even though "prepublish" (the word) makes no sense to me, that seems like the correct thing to do.

[2013-10-15 20:13] phated commented on #32
It looks like your `.gitignore` has `amd_modules/` in it.  If you don't have a `.npmignore`, npm uses the `.gitignore` to generate it, so `amd_modules/` isn't in the installed package.

[2013-10-15 20:26] phated commented on #32
You should be able to use `npm pack` to test the prepublish command and then unzip to make sure it has everything.

[2013-10-15 21:24] unscriptable commented on #32
amd_modules is ignored on purpose. the prepublish script should install them. isn't that working on your machine?

[2013-10-15 21:26] phated commented on #32
prepublish happens when you publish the module.  prepublish will be executed and amd_modules included in the zip file stored in NPM.

[2013-10-15 22:43] unscriptable commented on #32
this conversation is confusing me! :)

if we don't want to publish amd_modules, we want them to be installed at `npm install` time, what is the correct method? cc @bcavalier @scothis

[2013-10-15 22:44] phated commented on #32
The correct method is to not rely on the bower install and use github urls in the NPM dependencies.

[2013-10-15 23:37] scothis commented on #32
I'm confused as to why you're using bower to fetch dependencies for an npm package... Why not just use npm's dependency resolution?

[2013-10-30 21:06] jsedlacek opened #33 "amd_modules folder missing after installing cram from npm"
When I install cram using npm the amd_modules folder is missing.

[code]

After running `bower install` in cram folder everything works fine.

[2013-10-31 11:28] unscriptable commented on #33
Thanks @jsedlacek!

What version of node and npm are you using?

[2013-10-31 14:01] jsedlacek commented on #33
[code]

[2013-10-31 14:04] unscriptable commented on #33
Hm, thats very recent. I wonder why it works on some machines (like mine :) ).  I'll keep digging.

[2013-10-31 20:29] phated commented on #33
This is related to the #32 issue that you published.  It broke because prepublish installs locally and then publishes to NPM. Since you are gitignoring amd_modules, they don't get published.

It works locally because you have the bower modules.

[2013-10-31 20:31] phated commented on #32
Why are you against bundling the bower dependencies in the npm published package?

To test the npm package, you can run `npm pack`

[2013-11-16 15:20] gehan opened #34 "EMFILE error"
I'm trying to cram a file that the r.js optimizer handles file. It runs for ages then has a `EMFILE` error which seems to be when node has too many files open!

[2013-12-06 18:05] #32 closed, assigned to nobody

[2013-12-06 18:09] #33 closed, assigned to nobody

[2013-12-15 21:27] deciob opened #36 "cram/test/examples all fail with cram 0.7.8"
Examples all work with cram 0.7.6, but with version 0.7.8 I get the following error:

`cram failed:  Cannot read property 'baseUrl' of undefined`

[2014-01-15 15:34] stanislawosinski opened #37 "cram fails on the seed project"
cram fails to build the seed project with the following exception:

[code]

[2014-01-16 02:09] unscriptable commented on #37
Thanks again, @stanislawosinski.  Fixing this in my dev branch.

[2014-01-16 03:03] unscriptable commented on #37
This is fixed in the dev branch.

[2014-01-16 08:43] stanislawosinski commented on #37
Thanks @unscriptable!

[2014-01-16 08:43] #37 closed, assigned to nobody

[2014-01-17 19:55] unscriptable commented on #37
As part of the next version of seed, I'm thinking that we should stop fighting bower and just let it install in a folder named "bower_components".  This means the next version will install into a different location.  Just FYI.

[2014-01-17 21:04] unscriptable commented on #36
This error has been fixed as of 0.7.10.  Sorry for the delay in responding.

[2014-01-17 21:04] #36 closed, assigned to nobody

[2014-01-20 20:21] unscriptable commented on #37
Hey @stanislawosinski, let me know if cram+seed is working for you or not.  Thanks!  -- John

[2014-01-20 22:24] stanislawosinski commented on #37
Hi John,

I've just verified that cram+seed work perfectly now. The extra bit of documentation around cram in seed is a great idea, it should help people to get started.

S.

[2014-02-09 16:53] unscriptable commented on #19
This has finally landed in the dev branch and will be released shortly in 0.8.0.

[2014-02-09 16:53] #19 closed, assigned to unscriptable

[2014-02-09 18:16] briancavalier commented on #19
Woot!

[2014-02-20 02:40] unscriptable opened #38 "cram thinks the `require()`s in rest/mime/registry are global"
cram's scan module thinks the `require()`s in rest/mime/registry are global:
https://github.com/cujojs/rest/blob/master/mime/registry.js#L116-L117

As a result, these modules are not included in the bundle.

[2014-02-20 02:51] unscriptable opened #39 "Does not do anything if run from an npm script"
The code that enables the new JavaScript API fails to detect if cram is being invoked as a main module.  Therefore, it doesn't do anything.  It just exits.

[2014-03-06 14:10] fedevegili opened #40 "Empty multi-line array of dependecies causes error."
If you define a module with an empty array of dependencies, like this:

//causes bug
define([
    ], function() {});

//process OK
define([], function() {});

Cram.js throws the following error:

cram failed:  ENOENT, open 'C:\sesuite\1.4\web\wwwroot\ui\desktop\lite\resources
\js\
    .js'
Error: ENOENT, open 'C:\sesuite\1.4\web\wwwroot\ui\desktop\lite\resources\js\
    .js'

[2014-03-07 21:48] bclozel opened #41 "Check that promise is not fulfilled too early"
When using cram as a JavaScript API, it seems that cram is fulfilling its promise _before_ the actual output file is written/flushed to disk.

[code]

[2014-03-10 14:46] unscriptable commented on #41
Hey @bclozel, this is working in the dev branch.  I did some functional-level testing and it seems to work correctly now.  Feel free to try it out. -- J

[2014-03-10 15:47] bclozel commented on #41
It works! Great!
I'll release my plugin on github with an ugly `"cram": "https://github.com/cujojs/cram/tarball/dev"` dependency declaration and fix that before pushing a real version on npmjs.

[2014-03-10 16:05] briancavalier commented on #41
Nice work, guys!

[2014-03-10 16:15] unscriptable commented on #41
cool!  I've got another issue to fix in cram, so i'll try to release a 0.8.1 later this week.  -- J

[2014-03-10 17:59] unscriptable commented on #40
Hey @fedevegili,  this is fixed in the dev branch.  Feel free to try it if you have a minute. Thanks!  -- John

[2014-03-11 12:38] #40 closed, assigned to nobody

[2014-03-11 12:38] #41 closed, assigned to nobody

[2014-03-11 12:41] unscriptable commented on #39
Fixed and in master.

[2014-03-11 12:41] #39 closed, assigned to nobody

[2014-03-13 00:14] gogamoga opened #42 "did you publish new version without amd_modules?"
even global cram is crying about not finding the ssjs curl now :P

[2014-03-13 00:17] unscriptable commented on #42
If I `npm install cram@0.8.1` I can see node_modules/cram/amd_modules/curl/dist/curl-for-ssjs/curl.js

[2014-03-13 00:19] gogamoga commented on #42
i am going to make a chroot jail, install clean node there and test this
something is weird, also i suspect theres something broken with arguments grabbing when run as module

[2014-03-13 00:38] gogamoga commented on #42
Ok, before i even started with the chroot
`sudo npm cache clean` has solved the issue. This is weird though.

[2014-03-13 00:43] gogamoga commented on #42
still, the issue with grabbing arguments persists.

[2014-03-13 00:44] unscriptable commented on #42
Can you be more specific?  Thx. :)

[2014-03-13 00:49] gogamoga commented on #42
## Inside my project tree

#### For every defined gulp task:

[code]

---

[code]

---

[code]

#### And for the missing task:

[code]

[2014-03-13 00:51] gogamoga commented on #42
P.S.
Global cram is runnable now!
THANKS!

[2014-03-13 00:54] unscriptable commented on #42
It'd be helpful if I could see gulpfile.js and any other information-packed
files. :)

On Wed, Mar 12, 2014 at 8:51 PM, gogamoga notifications@github.com wrote:

[2014-03-13 00:54] gogamoga commented on #42
making demo, hold on

[2014-03-13 01:06] gogamoga commented on #42
## The demo

[code]

[2014-03-14 05:17] unscriptable opened #45 "cram is missing two require() calls in rest/mime/registry"
something in rest/mime/registry is causing cram to get confused and skip two require calls.

[2014-03-14 05:18] unscriptable commented on #42
This seems to be fixed in dev.

[2014-03-14 05:18] #42 closed, assigned to nobody

[2014-03-14 05:18] unscriptable commented on #45
oops. dup of #38

[2014-03-14 05:18] #45 closed, assigned to nobody

[2014-03-14 05:26] gogamoga commented on #38
And the hack-fix: https://gist.github.com/gogamoga/9541651

[2014-03-14 13:59] unscriptable commented on #38
RegExp parsing code pulls in a bit extra to determine the difference between the division symbol and RegExp literals.  It pulls in an extra open parenthesis with this snippet: `mime.split(/[;\+]/)` but didn't account for it.  It now accounts for any captured parens.

[2014-03-14 23:55] gogamoga commented on #38
This commit has solved the issue completely! Thanks again.

[2014-03-14 23:58] #38 closed, assigned to nobody

[2014-03-15 00:19] gogamoga commented on #17
point me in some direction

[2014-03-15 00:44] unscriptable commented on #17
@gogamoga: look at the [curl](https://github.com/cujojs/curl/tree/master/src/curl/cram) and [wire](https://github.com/cujojs/wire/blob/master/builder/cram.js) plugins for some examples. :)

[2014-03-15 00:45] unscriptable commented on #17
The basic idea is to create a simplified AMD define() that exports a value.  The io object has some useful helper functions on it.

[2014-03-15 00:47] gogamoga commented on #17
ok, going to try something. Have to do it in js instead of coffee :(

[2014-08-29 11:33] OOPMan opened #46 "Cram 0.8.2 does not set exit code to non-zero when it failes"
Hi

I ran into an issue today where Cram was failing due to a syntax error in one of my Javascript files.

In such a scenario it would be a good thing to return a non-zero exit code in order to indicate that Cram failed.

[2014-08-31 04:12] tungd opened #47 "Cram not working"
Steps to produce:

[code]

Stack trace:

[code]

I tried to modify the paths, or run `cram` manually with different config with no luck.

NPM version: 1.4.26
Node version: v0.10.31

[2014-10-15 18:41] unscriptable commented on #47
It seems there's a conflict between curl (used internally by cram), wire's cram plugin, and when 3.x.  Will confer with @briancavalier about a solution.

[2014-10-16 15:00] unscriptable commented on #47
Moved the issue to here: https://github.com/cujojs/seed/issues/14

[2014-10-16 15:00] #47 closed, assigned to nobody

[2015-06-02 00:03] fedevegili opened #48 "Read --exclude options from files"
Hello lads, long story short, we have a giant command line grunt run to perform because we use multiple bundles and don't want code repetition.

Windows has a limitation of some thousands characters per command line and we are exceeding that (big application).

Is there any way to pass a file with an array for exclusion to cram? Or would I have to implement it myself?

[2015-06-02 17:47] fedevegili commented on #34
I'm running into this problem as well.

[2015-06-02 17:48] fedevegili commented on #48
Nvm guys, I found that you can pass an exclude array in the config files.

[2015-06-02 17:48] #48 closed, assigned to nobody

[2015-06-02 18:48] unscriptable commented on #34
Hey @fedevegili!  how did you solve this problem?  There are other interested folks!

[2015-06-02 19:05] fedevegili commented on #34
Hey @unscriptable, sorry if I wasn't clear, I'm having this problem too, I didn't manage to solve it yet.